<h1 style="text-align: center; color: red;" >Checkout</h1>


<br/>
<br/>

<h4>Don't Want An item?</h4>
<%= link_to "Back to Shopping Cart", my_cart_path(current_customer) %>

<ul>
<% cart.each do |product|%>
  <% p = Product.find(product) %>
  <div style= "display: inline-grid">
    <li> <img src= "<%= p.style.img_url %>" style="width: 400px;"></li>
    <li><%= p.style.name %></li>
    <li> <%= p.size %> </li>
    <li> <%= "$#{p.price}" %> </li>
    <li> Quantity: 1</li>
  </div>

<% end %>
</ul>

<br/>
<br/>

<h1> Transaction Amount: </h1>
<br />

<% total = 0 %>
<% cart.each do |product| %>
  <% p = Product.find(product) %>
  <% total += p.price %>
<% end %>

<h2> Final Price: <%= "$#{total}" %></h2>
<% sale = 0.10  %>
<% tax = sale * total %>
<h2> Sales Tax: <%= "#{sale}%"%>  </h2>
---------------------------------------------------
<h2> Total On Purchase: <%= "$#{total_price = tax + total}" %></h2>

<br/>
<br/>

<h1 style="text-align: center; color: red;" > Shipping information </div>

<div style="text-align: center;">
<%= form_tag checkout_path do %>
    <div>
    <%= label :name, "Name" %>
    <%= text_field_tag :name %>
    </div>
     <div>
    <%= label :address, "Address" %>
    <%= text_field_tag :address %>
    </div>
    <div>
    <%= label :credit_card_info, "Payment Info" %>
    <%= text_field_tag :credit_card %>
    </div>

    <div>
    <%= submit_tag "Process Checkout", data: {confirm: "Are you sure?"} %>
    </div> 
<% end %>
</div>