<h1 style="text-align: center; color: red;" >Shopping Cart</h1>

<% if flash[:add_to_cart] %>
    <div class="notice" style="color: red;"><%= flash[:add_to_cart] %></div>
<% end %>

<% if flash[:remove_from_cart] %>
    <div class="notice" style="color: red;"><%= flash[:remove_from_cart] %></div>
<% end %>

<br/>
<br/>

<ul>
<% cart.each do |product|%>
  <% p = Product.find(product) %>
  <div style= "display: inline-grid">
    <li> <img src= "<%= p.style.img_url %>" style="width: 400px;"></li>
    <li><%= p.style.name %></li>
    <li> <%= p.size %> </li>
    <li> <%= "$#{p.price}" %> </li>
    <li> Quantity: 1</li>
    <li>  <%= link_to "Remove From Cart", remove_from_cart_path(p), :method => :post %> </li>
  </div>

<% end %>
</ul>

<br/>
<br/>

<h1> Shopping Cart Amount: </h1>
<br />

<% total = 0 %>
<% cart.each do |product| %>
  <% p = Product.find(product) %>
  <% total += p.price %>
<% end %>

<h2> Total Price: <%= "$#{total}" %></h2>

<br/>

<div><%= link_to "Proceed To Checkout", checkout_path %></div>