<div id="cool">


    <form class="box" action="new.html" method="post">             
                   
                    <h1>  Sign Up Today! </h1>

                    <%= render partial: "shared/error_list", locals: {new_object: @customer} %>

                    <ul>
                    <%= form_for @customer do |f| %>
                     </li>

<%# ====================================================== %>
                        <li>
                        <%= f.label :name %>
                        <%= f.text_field :name %> 
                        </li>

                        <li>
                        <%= f.label :address %>
                        <%= f.text_field :address %>
                        </li>

                        <li>
                        <%= f.label :password %>
                        <%= f.password_field :password %>
                        </li>

                        <li>
                        <%= f.submit "Create Profile" %>
                        </li>
                    <% end %>

                    </ul>
<%# =============================================== %>
    </form>
</>