<h1 style="text-align: center; color: red;"> Profile Page </h1>
<br/>
<br/>

<% if flash[:notice] %>
    <div class="notice" style="text-align: center; color: red;"><%= flash[:notice] %></div>
<% end %>


<h3> Name: <a class = "name"> <%= @customer.name %> </a></h3>
<h3>Address: <a class = "address"> <%= @customer.address %> </a></h3>

<br />
<br />

<div>
<%= link_to "Change Customer Information", edit_customer_path %>
</div>

<br/>

<h1 style="text-align: center; color: red">Inventory of Shoes</h1>

<ul>
<% @customer.products.each do |product| %>
    <div style= "display: inline-grid">
    <img src= "<%= product.style.img_url %>" style="width: 350px">    
    <li><%= product.style.name %></li>
    <li><%= product.size %></li>
    <li><%= "$#{product.price}" %></li>
    </div>
<% end %>
</ul>

<br />
<br />

<div>
<%= link_to "Add Shoes To Sell", new_product_path %>
</div>


<br/>
<br/>

<h1 style="text-align: center; color: red;"> Current Cart </h1>


<% cart.each do |product|%>
  <% p = Product.find(product) %>
  <div style= "display: inline-grid">
    <li> <img src= "<%= p.style.img_url %>" style="width: 400px;"></li>
    <li><%= p.style.name %></li>
         <% p.size %> 
  </div>
<% end %>

<br/>
<br/>
