<h1> Add Product To Sell</h1>

<%= render partial: "shared/error_list", locals: {new_object: @product} %>

<%= form_for @product do |f| %>
    <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
    </div>

    <div>
    <%= f.label :size %>
    <%= f.text_field :size %>
    </div>

    <div>
    <%= f.label :style_id %>
    <%= f.collection_select :style_id, Style.all, :id, :name %>
    </div>

    <%= f.submit %>

<% end %>