
<h1> <%= @product.style.name %> </h1>

<div class="image">
    <%= image_tag(@product.style.img_url) %>
</div>

<h3> Price: <%= "$#{@product.price}" %></h3>

<br />


<div> <%= "Size #{@product.size}" %> </div>

<div>
<% if logged_in? %>
    <%= link_to "Add To Cart", add_to_cart_path(@product), :method => :post %>
<% else %>
    <%= link_to "Please Sign In To Add To Cart", login_path %>
<% end %>
</div>